.companies_2 {
    margin: 0 15px;
    display: inline;
}
.scroll_2 {
    //object-fit: cover;
    padding: 0 20px;
}
.scroll_2 {
    //max-width: 100%;
    //height: auto;
}
.scroll_2 .greyscale {
    position: relative
}
.scroll_2 .coloured {
    position: absolute;
    top: 50%;
    left: 50%; 
    display: none;
}
.scroll_2 .greyscale:hover+.scroll_2 .coloured {
    display: block;
}
@media screen and (min-width:0) and (max-width:768px) {
    .companies_2 {
        display: none;
    }
}