.companies_1 {
    margin: 50px 15px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.scroll_1 {
    object-fit: cover;
    padding: 0 20px;
}
.scroll_1_img {
    max-width: 100%;
    height: auto;
    -webkit-filter: grayscale(1); 
    filter: grayscale(1);

    &:hover {
        -webkit-filter: grayscale(0); 
        filter: none;    
    }
}
@media screen and (min-width:0) and (max-width:768px) {
    .companies_1 {
        display: none;
    }
}
