.companies_1 {
    margin: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.scroll_1 {
    object-fit: cover;
    padding: 0 20px;
}
.scroll_1_img {
    max-width: 100%;
    height: auto;
    -webkit-filter: grayscale(1); 
    filter: grayscale(1);

    &:hover {
        -webkit-filter: grayscale(0); 
        filter: none;    
    }
}
// .scroll_1_img_grey {
//     position: relative;
// }
// .scroll_1_img_colour {
//     //position: absolute;
//     //top: 50%;
//     //left: 50%; 
//     display: none;
// }
// .scroll_1:hover + .scroll_1_img_colour {
//     display: block;
// }
@media screen and (min-width:0) and (max-width:768px) {
    .companies_1 {
        display: none;
    }
}
