footer {
    background-color: #333645;
    color: #fff;
    padding: 47px 15px 43px 15px;
    font-family: Poppins, sans-serif;
    margin-right: auto;   
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer ul li {
    font-size: .8125rem;
    line-height: 1.375rem;
}
footer a {
    text-decoration: none;
    color: #fff;
}
footer a:hover {
    text-decoration: underline;
}
footer h4 {
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 26px;
}
.services_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.offices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}
.footer_card {
    width: 225px;
    margin-bottom: 30px;
}  
.bottom {
    padding-top: 10px;
    border-top: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}
.social_media {
    display: inline-block;
    z-index: 2;  
}
.copyright {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: .8125rem;
    & span {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}
.icon {
    max-height: 38px;
    padding: 7px 10px 10px;
    font-size: 0.9rem;
    border-radius: 50%;
}
.icon_f:hover {
    background-color: #3b5998;
}
.icon_i:hover {
    background-color: #00aced;
}
.icon_t:hover {
    background-color: #d93175;
}
.icon_l:hover {
    background-color: #0077b5;
}
@media screen and (min-width: 767px)  {
    .lb {
        display: none;
    }
}
@media screen and (min-width: 1335px) {
    .footer_card_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer_wrapper {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}