.intro {
    background-color: #333645;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    & .btn {
        @include large_btn;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    }
}
.intro h2 { 
    font-size: 2.25rem;
    font-weight: 400;
    margin-top: 0;
}
.intro p {
    line-height: 1.875rem;
    margin-bottom: 40px; 
} 
.intro p a {
    text-decoration: none;
    color: #fff;
    &:hover {
        text-decoration: underline;
    }
}
.btn_welcome_to_netmatters_container {
    margin-bottom: 30px;
    max-width: 720px;
    margin-left: 8px
}
.clients {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;    
}
.welcome {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
}
.btn_welcome_to_netmatters {
    background-color: #272936;
    margin-bottom: 50px;
    &:hover {
        background-color: #121318;
    }
}
.btn_why_choose_us {
    margin-right: 8px;
}
.client_quote {
    font-weight: 600;
    font-size: 1.3rem;
    font-style: italic;
}
.stars i {
    color: orange;
    font-size: 50px;
}

.intro .btn_google {
    background-color: #4387f6;
    margin-right: 8px;
    margin-top: 20px;
    &:hover {
        background-color: #166af4;
    }
}
.intro .btn_trustpilot {
    background-color: #00b67b;
    margin-top: 20px;
    &:hover {
        background-color: #009b69;
    }
}
.client_quote_author {
    font-size: 1.1rem;
    font-weight: 600;
    color: #a3a8ac;
} 

.arrow {
    vertical-align: middle;
    margin: 0 -4px 0 12px;   
}
@media screen and (min-width:564px) and (max-width:992px) {
    .welcome_to_netmatters_btns {
        display: flex;
        flex-direction: row;
    }

}
@media screen and (min-width:646.4px) and (max-width:992px) {
    .review_btns {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-width:992px) and (max-width:1308px) {
    .intro {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .welcome {
        width: 455px;
        padding: 0 15px;
        margin-left: 0;
        margin-right: 0;
    }
    .clients {
        width: 455px;
        padding: 0 15px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width:1308px) {
    .welcome_to_netmatters_btns {
        display: flex;
        flex-direction: row;    
    }
    .review_btns {
        display: flex;
        flex-direction: row;
    } 
    .intro {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .welcome {
        width: 600px;
        padding: 0 15px;
        margin-left: 0;
        margin-right: 0;
    }
    .clients {
        width: 600px;
        padding: 0 15px;
        margin-left: 0;
        margin-right: 0;
    }
}