.our_services_card_container a {
    text-decoration: none;
    color: #333645;   
}
.our_services .h1 {
    margin-top: 0;
    font-weight: 400;
    font-size: 2.7rem;
    margin-bottom: 15px;    
}
.our_services_card_container {
    color: #333645; 
    display: block;   
        
}
.our_services_card {
    margin: 30px auto 0 auto;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 30px;
    display: block;
    max-width: 658px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .5s ease;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    & i {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        height: 65px;
        width: 65px;
        border-radius: 50%;
        font-size: 1.5rem;
        line-height: 62px;
        color: #fff;
    }
    & .btn {
        @include small_btn;
        display: inline-block;   
    }
    &:hover > div {
        & i {
            background-color: #fff;
        }
        & .btn {
            background-color: #fff;    
        }
        & span {
            color: #fff;
        }
    } 
}

.our_services_card_software {
    & i {
        background-color: #67809f;
    }
    &:hover {
        background-color: #67809f;
        border-color: transparent;
        top: -10px;
        & i {
            color: #67809f;
        }
        .btn_software {
            color: #67809f;     
        }
    }
}
.our_services_card_suport {
    & i {
        background-color: #4183d7;
    }
    &:hover {
        background-color: #4183d7;
        border-color: transparent;
        top: -10px;
        & i {
            color: #4183d7;
        }
        .btn_suport {
            color: #4183d7;     
        }
    }
}
.our_services_card_marketing {
    & i {
        background-color: #2ecc71;
    }
    &:hover {
        background-color: #2ecc71;
        border-color: transparent;
        top: -10px;
        & i {
            color: #2ecc71;
        }
        .btn_marketing {
            color: #2ecc71;    
        }
    }
}
.our_services_card_telecoms {
    & i {
        background-color: #d64541;
    }
    &:hover {
        background-color: #d64541;
        border-color: transparent;
        top: -10px;
        & i {
            color: #d64541;
        }
        .btn_telecoms {
            color: #d64541;   
        }
    }
}
.our_services_card_design {
    & i {
        background-color: #926fb1;
    }
    &:hover {
        background-color: #926fb1;
        border-color: transparent;
        top: -10px;
        & i {
            color: #926fb1;
        }
        .btn_design {
            color: #926fb1;     
        }
        }
}
.our_services_card_security {
    & i {
        background-color: #f62459;
    }
    &:hover {
        background-color: #f62459;
        border-color: transparent;
        top: -10px;
        & i {
            color: #f62459;
        }
        .btn_security {
            color: #f62459;   
        }
    }
}
.our_services_card_training {
    & i {
        background-color: #ce4125;
    }
    &:hover {
        background-color: #ce4125;
        border-color: transparent;
        top: -10px;
        & i {
            color: #ce4125;
        }
        .btn_training {
            color: #ce4125;     
        }
    }
}
.our_services_card i {
    margin-bottom: 17px;
}
.our_services_card .h2 {
    font-size: 1.3rem;
    margin-bottom: 21px;
    font-weight: 400;
}
.our_services_card .p {
    margin-bottom: 20px;
}
.btn_software {
    background-color: #67809f;
}
.btn_suport {
    background-color: #4183d7;    
}
.btn_marketing {
    background-color: #2ecc71;   
}
.btn_telecoms {
    background-color: #d64541;    
}
.btn_design {
    background-color: #926fb1;    
}
.btn_security {
    background-color: #f62459;    
}
.btn_training {
    background-color: #ce4125;    
}

.view_all_container {
    text-align: center;
    margin-top: 30px;
}
.bar_our_servies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}
@media screen and (min-width:0) and (max-width:768px) {
    .bar_container {
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-left: 15px;
    }
    .our_services_card_container {
        margin: 0 15px;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    .bar_our_servies {
        width: 718px;    
    }
    .our_services_first_rows {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .our_services_first_rows .our_services_card {
        width: 283px;
        margin: 30px 15px 0 15px;    
    }
}
@media screen and (min-width:992px) and (max-width:1260px){
    .bar_our_servies {
        width: 936px;
    }
    .our_services_second_rows {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .our_services_second_rows .our_services_card {
        width: 231.325px;
        margin: 30px 15px 0 15px;    
    }
    .our_services_first_rows { 
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .our_services_first_rows .our_services_card {
        width: 393px;
        margin: 30px 15px 0 15px;    
    }
}
@media screen and (min-width:1260px) {
    .bar_our_servies {
        width: 1164px;
    }
    .our_services_second_rows {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .our_services_second_rows .our_services_card {
        width: 308px;
        margin: 30px 15px 0 15px;
    }
    .our_services_third_rows {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .our_services_third_rows .our_services_card {
        width: 208px;
        margin: 30px 15px 0 15px;
    }
    .our_services_first_rows {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}