.sidemenu {
    width: 270px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    & ul {
        color: white;
    }
    & a {
        text-decoration: none;
        color: white;
    }
} 
.sidemenu_services_expanded {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding: 21px;
    background-color: #333645;
    & ul {
        list-style: none;
        padding: 0;
    }
    & .sidemenu_service_item li {
        border-top: 0.5px solid rgba(255,255,255,0.05);
        box-shadow: inset 0px -1px 1px #000;
        background-color: #282b36;
        width: 196.2px;
        padding: 10px;  
    }
}
.sidemenu_service_item .title {
    padding: 0;
    
}
