.sidemenu {
    width: 270px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: #333645;
    overflow-y: auto;
    display: none;
    z-index: 4;
    & ul {
        color: white;
        list-style: none;
    }
    & a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
} 
.sidemenu_services_expanded {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px;
    background-color: #333645;
    & ul {
        list-style: none;
        padding: 0;
    }
    & .sidemenu_service_item li {
        border-top: 0.5px solid rgba(255,255,255,0.05);
        box-shadow: inset 0px -1px 1px #000;
        background-color: #282b36;
        padding: 10px;  
    }
}
.sidemenu_contact_btn:hover {
    background-color: hsla(0,0%,100%,.05);
}
.sidemenu_service_item:hover {
    & a > .sidemenu_service_btn {
    background-color: hsla(0,0%,100%,.05);
    }
}
.sidemenu_service_btn {
    width: 214.6px;
    font-size: 1.125rem;
    text-decoration: none;
    padding: 19px 0 18px;
    display: block;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    outline: 1px solid rgba(0,0,0,.25);
    border: 1px solid hsla(0,0%,100%,.1);
    & p {
        margin: 0;
    }    
}
.sidemenu_section {
    width: 270px;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    & ul {
        margin: 0;
        padding: 0;
        & li {
            padding: 20px;
        }
    }
    &:hover > ul .title {
        background-color: hsla(0,0%,100%,.05);
    }
    & .title {
        background-color: #333645;
        border-top: 0.5px solid rgba(255,255,255,0.05);
        box-shadow: inset 0px -1px 1px #000;
    }
    & .item {
        border-top: 0.5px solid rgba(255,255,255,0.05);
        box-shadow: inset 0px -1px 1px #000;
        color: #fff;
        background-color: #282b36;
        font-size: .90625em;    
    }
}
@media screen and (min-width:0) and (max-width:992px) {
    .services_reduced {  
        display: none;
    }
}
@media screen and (min-width:992px) {
    .sidemenu_services_expanded {
        display: none;
    }
    .sidemenu {
        width: 350px;
    }
    .sidemenu_section {
        width: 350px;
    }
}

