// html::-webkit-scrollbar {
//     display: none;
// }
.cover {
    position: fixed;
    z-index: 3;
    display: none;
    transition: opacity .5s;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer; 
    background-color: rgba(0,0,0,0.5);
}
// .main_column {
//     overflow: scroll;
// }
header {
    box-sizing: border-box;
}
form {
    box-sizing: border-box;
}
.companies_1 {
    box-sizing: border-box;    
}
.companies_2 {
    box-sizing: border-box;    
}
header, :after, :before {
    box-sizing: border-box;
}
form, :after, :before {
    box-sizing: border-box;
}
.companies_1, :after, :before {
    box-sizing: border-box;
}
.companies_2, :after, :before {
    box-sizing: border-box;
}
.sidemenu {
    box-sizing: border-box;
}

//body Styling

.cookie_pop {
    color: white;
    padding: 15px;
    background-color: #333645;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;
    & p {
        padding-right: 15px;
        margin: 0;
    }
    & button {
        color:white;
        padding: 5px 10px;
        background-color: #4183d7;;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            background-color: #2a6ec6;
        }
    }
}

body {
    font-family: Poppins,sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    line-height: 1.42857143;
    color: #333645;

}
.section {
    padding: 50px 0 0 0;    
   }
.container {
    padding: 0 15px;    
}
.section_container {
    padding: 50px 15px;
}
.btn {
    text-decoration: none;
    font-weight: 400;
    line-height: 35px;
    padding: 15px;
    border-radius: 3px;
    color: #fff;    
}
.btn_medium {
    text-decoration: none;
    font-weight: 400;
    line-height: 35px;
    padding: 20px;
    border-radius: 3px;
    color: #fff;
    overflow: auto;    
}
.btn_big {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    padding: 18px 30px;
    border-radius: 3px;
    color: #fff;
    text-align: center;    
}
.view_all {   
    text-decoration: none;
    font-size: 1.625rem;
    font-weight: 600;
    color: #333645;
    &:hover {
        text-decoration: 3px underline;
    }
}
.bar_container_container {
    margin-top: 50px;
}
.bar_container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.view_all_2 {
    text-decoration: none;
    font-size: 1.625rem;
    font-weight: 600;
    color: #333645;
    &:hover {
        text-decoration: 3px underline;
    }
}


//header

@import "header";

// cyber security

@import "cybersecurity";

// companies2

@import "companies2";

// Our services

@import "ourservices";

// intro

@import "intro";

// companies 1

@import "companies1";

// latest news

@import "latestnews";

//Email Newsletter Sign-Up

@import "newsletter";

//footer styling

@import "footer";

//Side menu

@import "side_menu";

// JS classes
.active {
    display: block;
}
.shift_left {
    position: relative;
    left: -270px;
}
.targeted {
    background-color: hsla(0,0%,100%,.05);
}

@media screen and (min-width:992px) {
    .shift_left {
        position: relative;
        left: -350px;
    }
}






 
