* {
    box-sizing: border-box;   
}


.services_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.offices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}  


 
